numpy
pandas
scipy
statsmodels
scikit-learn
yfinance
backtesting
matplotlib
seaborn
plotly
streamlit
streamlit-option-menu
tqdm
python-dotenv
arch
pyarrow
joblib
pytest
black
vectorbt
jupyter
pandas-ta-classic
pykalman
yfscreen
